In [12]:
import pandas as pd
import math

In [19]:
def load_meters(path:str) -> pd.DataFrame:
    meters = pd.read_csv(path)
    return meters

def convert_radius(meters):
    return meters*0.00001/1.11

def reverse_convert_radius(radians):
    return radians*1.11/0.00001

def calculate_distance(row,lat,lon):
    lat=max(row["LAT"],lat)-min(row["LAT"],lat) 
    lon=max(row["LONG"],lon)-min(row["LONG"],lon)
    return math.sqrt(lat**2+lon**2)
    
def find_nearby(df, lat, lon, radius, exclude = []):
    left = lon - radius
    right =lon + radius
    down = lat - radius
    up =   lat + radius
    df = df[(df.LONG>left)&(df.LONG<right)&(df.LAT<up)&(df.LAT>down)]
    return df

def find_closest(df, lat, lon, n = 10):
    df['Distance'] = df.apply (lambda row: calculate_distance(row,lat,lon), axis=1)
    df = df.sort_values('Distance', ascending = True)
    return df.head(n)

In [20]:
#df = load_meters(r"C:\Users\Evgeny\Desktop\project\data\dot_MUNIMETER_20211110.csv")
lat,lon = 40.730948, -73.993291
nearby = find_nearby(df, lat,lon ,convert_radius(500))
closest = find_closest(nearby,lat,lon)
closest

C:\Python37\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,MeterType,the_geom,MeterNo,LONG,LAT,Status,Borough,X,Y,Distance
9288,Strada,POINT (-73.99355418589154 40.730647906489786),1143021,-73.993554,40.730648,Active,Manhattan,986036.479027,205471.370931,0.000399
9274,Strada,POINT (-73.99376856628258 40.73110263810705),1143006,-73.993769,40.731103,Active,Manhattan,985977.050996,205637.039563,0.000502
9275,Strada,POINT (-73.99278484374051 40.730805528170045),1143007,-73.992785,40.730806,Active,Manhattan,986249.700057,205528.814058,0.000526
9276,Strada,POINT (-73.99374622637013 40.73121426931478),1143008,-73.993746,40.731214,Active,Manhattan,985983.239632,205677.710742,0.000527
8413,Strada,POINT (-73.9931617898917 40.73163367485818),1473114,-73.993162,40.731634,Active,Manhattan,986145.204859,205830.525397,0.000698
8485,Strada,POINT (-73.99264720183893 40.730417199519174),1473016,-73.992647,40.730417,Active,Manhattan,986287.859757,205387.336978,0.000834
8414,Strada,POINT (-73.99255876122639 40.731379777871894),1473113,-73.992559,40.731380,Active,Manhattan,986312.341664,205738.036408,0.000850
14648,Strada,POINT (-73.99419722891695 40.731146513462406),1143043,-73.994197,40.731147,Active,Manhattan,985858.245459,205653.016565,0.000928
12016,Strada,POINT (-73.99390467066361 40.730229744762504),1143036,-73.993905,40.730230,Active,Manhattan,985939.351596,205319.014609,0.000945
9273,Strada,POINT (-73.99419893117343 40.73128254433924),1143005,-73.994199,40.731283,Active,Manhattan,985857.770395,205702.576834,0.000968